.someDiv {
    line-height: 0.7em;
    height: 4.2em;       /* height is 2x line-height, so two lines will display */
    overflow: auto;  /* prevents extra lines from being visible */
}
.img-caption {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #ffffff;
}
.gallery-title
{
    font-size: 36px;
    color: rgb(45, 176, 209);
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    /* border: 1px solid rgb(45, 176, 209); */
    border-radius: 5px;
    text-align: center;
    color:rgb(20, 61, 72);
    margin-bottom: 20px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid rgb(45, 176, 209);
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: rgb(45, 176, 209);

}
.btn-default:active .filter-button:active
{
    background-color: rgb(28, 70, 209);
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
