<aside class="bg-dark" id="about">
    <div class="container">
        <div class="call-to-action">
            <h2>Biography</h2>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>
                    Born in Ahwaz -> Moved to Tehran at the age of 14 -> NODET -> IAUCTB -> Moved to karaj at at the age
                    of 21. I Wanted to be a neurosurgeon, teacher, scientist at the same time, so I became an Artificial
                    Intelligence Engineer who is inspired by the brain. I love to learn, and be more productive every
                    day. I have a taste for Philosophy and Psychology and Personal Development. 
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <h3>Research Interest</h3>
                <ul>
                    <li>Artificial Intelligence</li>
                    <li>Computational Linguistics</li>
                    <li>Computer Vision</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <h3>Education</h3>
                <ul>
                    <li>Islamic Azad University Central Tehran Branch (IAUCTB)</li>
                    <li>National Organization for Development of Exceptional Talents (NODET)</li>

                </ul>
            </div>
        </div>
    </div>
</aside>