<section class="bg-primary" id="about" , style="padding-top: 30px; padding-bottom: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Gallery</h1>
                <hr class="light">
                <p class="text-faded">These are selected photos.</p>
                <a href="../index.html" class="btn btn-default btn-xl">Back</a> 
            </div>
        </div>
    </div>
</section>
