<section class="bg-primary" id="about" , style="padding-top: 30px; padding-bottom: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Projects</h2>
                <hr class="light">
                <!--<p class="text-faded">Thses are selected projects.</p>
                <a href="#" class="btn btn-default btn-xl">TODO</a> -->
                <div align="center">
                    <h3 class="img-caption"><b>Select a button</b></h3>
                    <div class="text-center">
                      <button class="btn btn-default filter-button center" data-filter="all">All</button>
                      <button class="btn btn-default filter-button center" data-filter="cv">CV</button>
                      <button class="btn btn-default filter-button" data-filter="nlp">NLP</button>
                      <button class="btn btn-default filter-button" data-filter="strucdata">Structured Data</button>
                      <button class="btn btn-default filter-button" data-filter="etc">etc</button>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
