<section class="bg-primary" id="projects" , style="padding-top: 30px; padding-bottom: 30px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Projects</h2>
                <hr class="light">
                <!--<p class="text-faded">Thses are selected projects.</p>
                <a href="#" class="btn btn-default btn-xl">TODO</a> -->
                <div align="center">
                    <h2 class="img-caption"><b>Select a Category</b></h2>
                    <div class="text-center">
                      <button class="btn btn-default filter-button active" data-filter="all">All</button>
                      <button class="btn btn-default filter-button " data-filter="cv">CV</button>
                      <button class="btn btn-default filter-button" data-filter="nlp">NLP</button>
                      <button class="btn btn-default filter-button" data-filter="strucdata">Structured Data</button>
                      <button class="btn btn-default filter-button" data-filter="etc">etc</button>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <style>
        @media screen and (max-width : 320px)
        {
          h3
          {
            font-size:7px; /* or 1em */
          }
        }
        @media screen 
        {
          h3
          {
            font-size:26px;
            font-weight: bold;
          }
        }
        </style>
        
        <section id="portfolio" style="padding: 20px;">
            <div class="container">
                <div class="row">
        
                    <div class="filter all cv col-md-4 col-lg-4 col-md-4 col-sm-4 ">
                        <div class="thumbnail">
                            <a href="https://github.com/AminTaheri23/single-face-extractor" target="_blank"
                                class="portfolio-box">
                                <img src="img/portfolio/single_face.png" alt="Single Face Extractor" class="img-thumbnail">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            Script
                                        </div>
                                        <div class="project-name">
                                            🔗
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="caption">
                                <h3 media="screen">Single Face Extractor script</h3>
                                <p>Extracting a set frames that only have a single face in it.</p>
                                <!-- Place this tag where you want the button to render. -->
                                <a class="github-button" href="https://github.com/amintaheri23/single-face-extractor"
                                    data-icon="octicon-star" data-size="large" data-show-count="true"
                                    aria-label="Star amintaheri23/single-face-extractor on GitHub">Star</a>
                                <div class="well well-sm">Python - OpenCV - RetinaFace</div>
                            </div>
                        </div>
                    </div>
        
                    <div class="filter all cv col-md-4 col-lg-4 col-md-4 col-sm-4 ">
                        <div class="thumbnail">
                            <a href="https://github.com/amintaheri23/Score-based-Face-Quality-Assessment-FQA" target="_blank"
                                class="portfolio-box">
                                <img src="img/portfolio/fqa.png" alt="Face Quality Assessment" class="img-thumbnail">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            implementation of paper
                                        </div>
                                        <div class="project-name">
                                            🔗
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="caption">
                                <h3>Score based Face Quality Assessment</h3>
                                <p>An implementation of a paper for assessing face quality.</p>
                                <!-- Place this tag where you want the button to render. -->
                                <a class="github-button"
                                    href="https://github.com/amintaheri23/Score-based-Face-Quality-Assessment-FQA"
                                    data-icon="octicon-star" data-size="large" data-show-count="true"
                                    aria-label="Star amintaheri23/Score-based-Face-Quality-Assessment-FQA on GitHub">Star</a>
                                <div class="well well-sm">Python - OpenCV - CNN - LBP</div>
                            </div>
                        </div>
                    </div>
        
                    <div class="filter all strucdata col-md-4 col-lg-4 col-md-4 col-sm-4 ">
                        <div class="thumbnail">
                            <a href="https://github.com/amintaheri23/Churn-Customers-Prediction" target="_blank"
                                class="portfolio-box">
                                <img src="img/portfolio/Churn_Blog.png" alt="Churn Customers Prediction" class="img-thumbnail">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            DataScience
                                        </div>
                                        <div class="project-name">
                                            🔗
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="caption">
                                <h3>Churn Customers - Deep learning</h3>
                                <p>Predincting wheter a customer leave the bussiness or not</p>
                                <!-- Place this tag where you want the button to render. -->
                                <a class="github-button" href="https://github.com/amintaheri23/Churn-Customers-Prediction"
                                    data-icon="octicon-star" data-size="large" data-show-count="true"
                                    aria-label="Star amintaheri23/Churn-Customers-Prediction on GitHub">Star</a>
                                <div class="well well-sm">Python - Tensorflow - Keras</div>
                            </div>
                        </div>
                    </div>
        
                    <div class="filter all etc col-md-4 col-lg-4 col-md-4 col-sm-4 ">
                        <div class="thumbnail">
                            <a href="https://github.com/amintaheri23/DeepLearnig-Notes-AndrewNg-Course" target="_blank"
                                class="portfolio-box">
                                <img src="img/portfolio/cs230.jpg" alt="cs230 notes" class="img-thumbnail">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            Notes
                                        </div>
                                        <div class="project-name">
                                            🔗
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="caption">
                                <h3>Deep learning Stanford CS230 notes</h3>
                                <p>My notes when auditing Andrew Ng's and Kian Katan Course.</p>
                                <!-- Place this tag where you want the button to render. -->
                                <a class="github-button"
                                    href="https://github.com/amintaheri23/DeepLearnig-Notes-AndrewNg-Course"
                                    data-icon="octicon-star" data-size="large" data-show-count="true"
                                    aria-label="Star amintaheri23/DeepLearnig-Notes-AndrewNg-Course on GitHub">Star</a>
                                <div class="well well-sm">Python - Tensorflow - Keras - Markdown</div>
                            </div>
                        </div>
                    </div>
        
                    <div class="filter all nlp col-md-4 col-lg-4 col-md-4 col-sm-4 ">
                        <div class="thumbnail">
                            <a href="https://github.com/amintaheri23/Deep-Persian-NER" target="_blank" class="portfolio-box">
                                <img src="img/portfolio/ner.png" alt="Deep NLP Persian NER" class="img-thumbnail">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            NLP
                                        </div>
                                        <div class="project-name">
                                            🔗
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="caption">
                                <h3>Persian NER with Deep Learning</h3>
                                <p>Named Entity Recognition for Persian with bi-LSTM CRF.</p>
                                <!-- Place this tag where you want the button to render. -->
                                <a class="github-button" href="https://github.com/amintaheri23/Deep-Persian-NER"
                                    data-icon="octicon-star" data-size="large" data-show-count="true"
                                    aria-label="Star amintaheri23/Deep-Persian_NER on GitHub">Star</a>
                                <div class="well well-sm">Python - Keras - LSTM - CRF</div>
                            </div>
                        </div>
                    </div>
        
                    <div class="filter all nlp col-md-4 col-lg-4 col-md-4 col-sm-4 ">
                        <div class="thumbnail">
                            <a href="https://github.com/amintaheri23/IMDB-sentiment-classification-GPT2" target="_blank"
                                class="portfolio-box">
                                <img src="img/portfolio/gpt2.png" alt="IMDB Review GPT-2" class="img-thumbnail">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            Transformers
                                        </div>
                                        <div class="project-name">
                                            🔗
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="caption">
                                <h3>IMDB reviews sentiment analysis with GPT2</h3>
                                <p>Classifying sentiment of reviews with GPT-2 pretrained language model.</p>
                                <!-- Place this tag where you want the button to render. -->
                                <a class="github-button"
                                    href="https://github.com/amintaheri23/IMDB-sentiment-classification-GPT2"
                                    data-icon="octicon-star" data-size="large" data-show-count="true"
                                    aria-label="Star amintaheri23/IMDB-sentiment-classification-GPT2 on GitHub">Star</a>
                                <div class="well well-sm">Python - Transformers - Language Models - HuggingFace🤗</div>
                            </div>
                        </div>
                    </div>
        
                    <div class="filter all strucdata col-md-4 col-lg-4 col-md-4 col-sm-4 ">
                        <div class="thumbnail">
                            <a href="https://github.com/amintaheri23/Pima-indian-diabetes-Deep-Learning" target="_blank"
                                class="portfolio-box">
                                <img src="img/portfolio/pima.jpg" alt="diabetes detection deep learning webapp"
                                    class="img-thumbnail">
                                <div class="portfolio-box-caption">
                                    <div class="portfolio-box-caption-content">
                                        <div class="project-category text-faded">
                                            Healthcare
                                        </div>
                                        <div class="project-name">
                                            🔗
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="caption">
                                <h3>Diabetes Detection Webapp</h3>
                                <p>A responsive webapp deployed on cloud, for detecting diabetes from Pima Indian dataset with
                                    ML + DL.</p>
                                <!-- Place this tag where you want the button to render. -->
                                <a class="github-button"
                                    href="https://github.com/amintaheri23/Pima-indian-diabetes-Deep-Learning"
                                    data-icon="octicon-star" data-size="large" data-show-count="true"
                                    aria-label="Star amintaheri23/Pima-indian-diabetes-Deep-Learning on GitHub">Star</a>
                                <div class="well well-sm">Python - Scikit Learn - Keras - Stramlit - Heroku</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</section>
