<header>
    <div class="header-content">
        <style type="text/css">
        div.b {
            font-size: 60px;
            }
        </style>
        <div class="header-content-inner">

            <font size="5">
            Seyed Mohammad<br></font>
            <div class="b">
                 <b>Amin Taheri</b><br>
            </div>
            <font size="5">Ghahfarokhi</font>
        
            <hr width="100">
            <p>B.S in Computer Science
            <br>Artificial Intelligence enthusiast
            <br>Experience in Natural Language Processing, Computer Vision with <b>Python</b> and <b>Tensorflow</b>
            <br>Head of Board of Directors in Computer Association Islamic Azad University Central Tehran Branch
            <br>IEEE student member</p>

            <a href="#about" class="btn btn-primary btn-xl page-scroll">More</a>
            <a target = "_blank" href="/cv.html" class="btn btn-primary btn-xl">Full CV</a>
            <a target = "_blank" href="https://virgool.io/@amintaheri90/" class="btn btn-primary btn-xl">Persian Blog</a>
            <a target = "_blank" href="/gallery.html" class="btn btn-primary btn-xl">Photo Gallery</a>
            <br>
            <br>

            <div class = "animated bounceIn" style = "animation-duration: 1s">    
               
                <a href="mailto:{{ site.email }}">
                    <i style="margin:5px;" class="fa fa-envelope-o fa-2x "></i>
                </a>
        
                <a target = "_blank" href="https://linkedin.com/in/{{ site.linkedin_username }}">
                    <i style="margin:5px;" class="fa fa-linkedin fa-2x "></i>
                </a>
        
                <a target = "_blank" href="https://twitter.com/{{ site.twitter_username }}">
                    <i style="margin:5px;" class="fa fa-twitter fa-2x"></i>
                </a>

                <a target = "_blank" href="https://github.com/{{ site.github_username }}">
                    <i style="margin:5px;" class="fa fa-github fa-2x"></i>
                </a>

                <a target = "_blank" href="https://stackoverflow.com/users/{{ site.stack_username }}">
                    <i style="margin:5px;" class="fa fa-stack-overflow fa-2x"></i>
                </a>

                <a target = "_blank" href="https://t.me/{{ site.telegram_username }}">
                    <i style="margin:5px;" class="fa fa-paper-plane-o fa-2x"></i>
                </a>

                <a target = "_blank" href="https://instagram.com/{{ site.instagram_username }}">
                    <i style="margin:5px;" class="fa fa-instagram fa-2x"></i>
                </a>

                <a target = "_blank" href="https://facebook.com/{{ site.facebook_username }}">
                    <i style="margin:5px;" class="fa fa-facebook fa-2x"></i>
                </a>

                <a target = "_blank" href="https://medium.com/@{{ site.medium_username }}">
                    <i style="margin:5px;" class="fa fa-medium fa-2x"></i>
                </a>

                <!-- 
                    <a target = "_blank" href="https://kaggle.com/{{ site.kaggle_username }}">
                        <i style="margin:5px;" class="animate tada fab fab-kaggle fa-2x"></i>
                    </a>
                -->

            </div>
                
            </div>
            </div>
</header>