<header>
    <div class="header-content">
        <div class="header-content-inner">

            <font size="5">
            Seyed Mohammad<br></font>
            <font size="7"><b>Amin Taheri</b><br></font> 
            <font size="5">Ghahfarokhi</font>
        
            <hr width="100">
            <p>B.S in Computer Science
            <br>Artificial Intelligence enthusiast
            <br>Experience in Natural Language Processing, Computer Vision with <b>Python</b> and <b>Tensorflow</b>
            <br>Head of Board of Directors in Computer Association Islamic Azad University Central Tehran Branch
            <br>IEEE student member</p>

            <a href="#about" class="btn btn-primary btn-xl page-scroll">More</a>
            <a target = "_blank" href="/cv.html" class="btn btn-primary btn-xl">Full CV</a>
            
            <br>
            <br>

            <div>    
               
                <a href="mailto:{{ site.email }}">
                    <i style="margin:5px;" class="bounceInUp fa fa-envelope-o fa-2x"></i>
                </a>
        
                <a target = "_blank" href="https://linkedin.com/in/{{ site.linkedin_username }}">
                    <i style="margin:5px;" class="bounceInUp fa fa-linkedin fa-2x"></i>
                </a>
        
                <a target = "_blank" href="https://twitter.com/{{ site.twitter_username }}">
                    <i style="margin:5px;" class="bounceInUp fa fa-twitter fa-2x"></i>
                </a>

                <a target = "_blank" href="https://github.com/{{ site.github_username }}">
                    <i style="margin:5px;" class="bounceInUp fa fa-github fa-2x"></i>
                </a>
               
            </div>
                
            </div>
            </div>
</header>