<div class="container">
  <div class="row">
    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <br>
    </div>

    <div class="col-md-4 col-lg-4 col-md-4 col-sm-4" align="center">
      <h2 class=""><b>Select a category</b></h2>
      <div class="btn-group-vertical" role="group" style="padding: 10px;">
        <button type="button" class="btn filter-button active" data-filter="all"> All </button>
        <button type="button" class="btn filter-button active" data-filter="Simplilearn"> Simplilearn </button>
        <button type="button" class="btn filter-button active" data-filter="Coursera"> Coursera </button>
        <button type="button" class="btn filter-button active" data-filter="Sololearn"> Sololearn </button>
        <button type="button" class="btn filter-button active" data-filter="CACTB"> CACTB </button>
        <button type="button" class="btn filter-button" data-filter="IEEEsb"> IEEE IAUCTB  </button>
        <button type="button" class="btn filter-button" data-filter="IEEEir"> IEEE IR </button>
        <button type="button" class="btn filter-button" data-filter="FanAsa"> FanAsa </button>
      </div>
    </div>
  
    <div class="col-md-4 col-lg-4 col-md-4 col-sm-4   ">
      <h3><b>Description:</b></h3>
      <p class=" filter all all Simplilearn" style="  margin: 2%;"><b>Simplilearn</b> : Massive Open Online Courses </p>
      <p class=" filter all all IEEEsb CACTB" style="  margin: 2%;"><b>IAUCTB</b> : Azad University Centeral Tehran
        Branch </p>
      <p class=" filter all all Coursera" style="  margin: 2%;"><b>Coursera</b> : Massive Open Online Courses </p>
      <p class=" filter all all Sololearn" style="  margin: 2%;"><b>Sololearn</b> : Massive Open Online Courses </p>
      <p class=" filter all CACTB" style="  margin: 2%;"><b>CACTB</b>: Computer Association of IAUCTB </p>
      <p class=" filter all IEEEsb IEEEir" style="  margin: 2%;"><b>IEEE</b>: Institute of Electrical and Electronics
        Engineers </p>
      <p class=" filter all IEEEsb" style="  margin: 2%;"><b>IEEE IAUCTB</b>: IEEE student branch of IAUCTB</p>
      <p class=" filter all IEEEir" style="  margin: 2%;"><b>IEEE Iran section</b>: IEEE Iran Section under supervision of
        Region 8</p>
      <p class=" filter all FanAsa" style="  margin: 2%;"><b>FanAsa Academy</b>: Academy of Specialized Courses </p>
    </div>
    
    <br>

    {% for cert in site.data.certificates %}
    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter {{ cert.category }}" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="{{ cert.image_large }}">
          <img src="{{ cert.image_thumb }}" style="width:100%">
        </a>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
