<div class="container">
  <div class="row">
    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <br>
    </div>

  

    <div class="col-md-4 col-lg-4 col-md-4 col-sm-4" align="center">
      <h2 class=""><b>Select a category</b></h2>
      <div class="btn-group-vertical" role="group" style="padding: 10px;">
        <button type="button" class="btn filter-button active" data-filter="all"> All </button>
        <button type="button" class="btn filter-button active" data-filter="Coursera"> Coursera </button>
        <button type="button" class="btn filter-button active" data-filter="Sololearn"> Sololearn </button>
        <button type="button" class="btn filter-button active" data-filter="CACTB"> CACTB </button>
        <button type="button" class="btn filter-button" data-filter="IEEEsb"> IEEE IAUCTB  </button>
        <button type="button" class="btn filter-button" data-filter="IEEEir"> IEEE IR </button>
        <button type="button" class="btn filter-button" data-filter="FanAsa"> FanAsa </button>
      </div>
    </div>
  
    <div class="col-md-4 col-lg-4 col-md-4 col-sm-4   ">
      <h3><b>Description:</b></h3>
      <p class=" filter all all IEEEsb CACTB" style="  margin: 2%;"><b>IAUCTB</b> : Islamic Azad University Centeral Tehran
        Branch </p>
      <p class=" filter all all Coursera" style="  margin: 2%;"><b>Coursera</b> : Massive Open Online Courses </p>
      <p class=" filter all all Sololearn" style="  margin: 2%;"><b>Sololearn</b> : Massive Open Online Courses </p>
      <p class=" filter all CACTB" style="  margin: 2%;"><b>CACTB</b>: Computer Association of IAUCTB </p>
      <p class=" filter all IEEEsb IEEEir" style="  margin: 2%;"><b>IEEE</b>: Institute of Electrical and Electronics
        Engineers </p>
      <p class=" filter all IEEEsb" style="  margin: 2%;"><b>IEEE IAUCTB</b>: IEEE student branch of IAUCTB</p>
      <p class=" filter all IEEEir" style="  margin: 2%;"><b>IEEE Iran section</b>: IEEE Iran Section under supervision of
        Region 8</p>
      <p class=" filter all FanAsa" style="  margin: 2%;"><b>FanAsa Academy</b>: Academy of Specialized Courses </p>
    </div>
    
    <br>


    <!-- ################################# Coursera #################################-->

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all Coursera" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/DL_all.jpg">
          <img src="/img/Certificates_images/Thumb/DL_all_small.jpg" style="width:100%">
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all Coursera" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/DL_C1.jpg">
          <img src="/img/Certificates_images/Thumb/DL_C1_small.jpg" style="width:100%">
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all Coursera" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/DL_C2.jpg">
          <img src="/img/Certificates_images/Thumb/DL_C2_small.jpg" style="width:100%">
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all Coursera" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/DL_C3.jpg">
          <img src="/img/Certificates_images/Thumb/DL_C3_small.jpg" style="width:100%">
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all Coursera" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/DL_C4.jpg">
          <img src="/img/Certificates_images/Thumb/DL_C4 _small.jpg" style="width:100%">
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all Coursera" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/DL_C5.jpg">
          <img src="/img/Certificates_images/Thumb/DL_C5 _small.jpg" style="width:100%">
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all Coursera" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/ML_Ng.jpg">
          <img src="/img/Certificates_images/Thumb/ML_Ng_small.jpg" style="width:100%">
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all Coursera" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/LH2L.jpg">
          <img src="/img/Certificates_images/Thumb/LH2L_small.jpg" style="width:100%">
        </a>
      </div>
    </div>

    <!-- ################################# IEEE ##################################-->

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all IEEEsb" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/certificate_5.jpg">
          <img src="/img/Certificates_images/Thumb/certificate_5_small.jpg" style="width:100%">
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all IEEEsb" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/Volunteer2017.jpg">
          <img src="/img/Certificates_images/Thumb/Volunteer2017_small.jpg" style="width:100%">
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all IEEEsb" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/ieeeiransction.jpg">
          <img src="/img/Certificates_images/Thumb/ieeeiransction_small.jpg" style="width:100%">
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all IEEEsb" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/IEEEXtreme_orig.jpg">
          <img src="/img/Certificates_images/Thumb/IEEEXtreme_orig_small.jpg" style="width:100%">
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all IEEEsb" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/IEEEXtreme_from_IEEESB.jpg">
          <img src="/img/Certificates_images/Thumb/IEEEXtreme_from_IEEESB_small.jpg" style="width:100%">
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all IEEEsb" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/IEEEsb_head_of_edu_Act.jpg">
          <img src="/img/Certificates_images/Thumb/IEEEsb_head_of_edu_Act_small.jpg" style="width:100%">
        </a>
      </div>
    </div>


    <!-- ################################# FanAsa #################################-->

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all FanAsa" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/certificate_8.jpg">
          <img src="/img/Certificates_images/Thumb/certificate_8 _small.jpg" style="width:100%">
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all FanAsa" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/Intro_web.jpg">
          <img src="/img/Certificates_images/Thumb/Intro_web_small.jpg" style="width:100%">
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all FanAsa" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/dataScience_intro.jpg">
          <img src="/img/Certificates_images/Thumb/dataScience_intro_small.jpg" style="width:100%">
        </a>
      </div>
    </div>


    <!-- ############################## SoloLearn ##############################-->

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all Sololearn" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/Solo_learn_ML.jpg">
          <img src="/img/Certificates_images/Thumb/Solo_learn_ML_small.jpg" style="width:100%">
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all Sololearn" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/sololearn-python3.jpg">
          <img src="/img/Certificates_images/Thumb/sololearn-python3_small.jpg" style="width:100%">
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all Sololearn" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/sololearn-sql.jpg">
          <img src="/img/Certificates_images/Thumb/sololearn-sql_small.jpg" style="width:100%">
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all Sololearn" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/sololearn-c++.jpg">
          <img src="/img/Certificates_images/Thumb/sololearn-c++_small.jpg" style="width:100%">
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all all" style="margin-bottom:1%">
      <div class="thumbnail" style="margin-bottom:1%; ">
        <a href="/img/Certificates_images/Large/typing_Advance.jpg">
          <img src="/img/Certificates_images/Thumb/typing_Advance_small.jpg" style="width:100%">
        </a>
      </div>
    </div>

   <!-- ############################## IEEE IR ##############################-->

   <div class="gallery_product col-lg-4 col-md-4 col-sm-4 filter all IEEEir" style="margin-bottom:1%">
    <div class="thumbnail" style="margin-bottom:1%; ">
      <a href="/img/Certificates_images/Large/IEEE_IR.jpg">
        <img src="/img/Certificates_images/Thumb/IEEE_IR_small.jpg" style="width:100%">
      </a>
    </div>
  </div>

  </div>
</div>
</section>