<div class="container">
  <!------------------------------------------------row1---------------------------------------------------------------->
  <div class="row">

    <div class="col-md-4 col-md-4">
      <div class="thumbnail">
        <a href="img/Gallery/IEEE/IEEEDAY2016.jpg">
          <img src="img/Gallery/IEEE/IEEEDAY2016.jpg" alt="IEEE Day">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Day 2016</h3>
            <h5>I was in Executive Committee</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-md-4">
      <div class="thumbnail">
        <a
          href="https://github.com/AminTaheri23/AminTaheri23.github.io/blob/master/img/Gallery/IEEE/IEEEDay2016_2.jpg?raw=true">
          <img
            src="https://github.com/AminTaheri23/AminTaheri23.github.io/blob/master/img/Gallery/IEEE/IEEEDay2016_2.jpg?raw=true"
            alt="IEEE Day">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Day 2016</h3>
            <h5>The Executive Committee chilling after a lot of hard work</h5>
          </div>
        </a>
      </div>
    </div>
    
    <div class="col-md-4 col-md-4">
      <div class="thumbnail">
        <a href="img/Gallery/IEEE/IEEE_Xream.jpg">
          <img src="img/Gallery/IEEE/IEEE_Xream.jpg" alt="IEEE Xtream" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Xtream 2016</h3>
            <h5>IEEE Xtreame is an Internation programming competetion.I was in BlueScreen team</h5>
          </div>
        </a>
      </div>
    </div>

  </div>

  <!------------------------------------------------row2---------------------------------------------------------------->

  <div class="row">

    <div class="col-md-4 col-md-4">
      <div class="thumbnail">
        <a href="img/Gallery/IEEE/IEEE_Xtream_BlueScreenTeam.jpg">
          <img src="img/Gallery/IEEE/IEEE_Xtream_BlueScreenTeam.jpg" alt="IEEE Xtream" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Xtream 2016</h3>
            <h5>IEEE Xtream is a 24 hour competetion.</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-md-4">
      <div class="thumbnail">
        <a href="img/Gallery/IEEE/IEEEXTREAM.jpg">
          <img src="img/Gallery/IEEE/IEEEXTREAM.jpg" alt="IEEE Xtream" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Xtream 2016</h3>
            <h5>I am highlighted with a red square. 😂</h5>
          </div>
        </a>
      </div>
    </div>
    
    <div class="col-md-4 col-md-4">
      <div class="thumbnail">
        <a href="img/Gallery/IEEE/IEEE_XTREAM_TEAM.jpg">
          <img src="img/Gallery/IEEE/IEEE_XTREAM_TEAM.jpg" alt="IEEE Xtream" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Xtream</h3>
            <h5>That square problem was really hard!</h5>
          </div>
        </a>
      </div>
    </div>

  </div> 
<!------------------------------------------------row3---------------------------------------------------------------->
  <div class="row">

    <div class="col-md-4 col-md-4">
      <div class="thumbnail">
        <a href="img/Gallery/IEEE/IEEE_DAY_2017.jpg">
          <img src="img/Gallery/IEEE/IEEE_DAY_2017.jpg" alt="IEEE Day 2017" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Day 2017</h3>
            <h5>This was prepration day at office around 8 o'clock.</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-md-4">
      <div class="thumbnail">
        <a href="img/Gallery/IEEE/IEEE_DAY_2017_2.jpg">
          <img src="img/Gallery/IEEE/IEEE_DAY_2017_2.jpg" alt="IEEE day 2017_2" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Day 2017</h3>
            <h5>Just another angle</h5>
          </div>
        </a>
      </div>
    </div>
    
    <div class="col-md-4 col-md-4">
      <div class="thumbnail">
        <a href="img/Gallery/IEEE/IEEEDAY_2017.jpg">
          <img src="img/Gallery/IEEE/IEEEDAY_2017.jpg" alt="IEEE Day results" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Day 2017</h3>
            <h5>This was the resukt of hard work</h5>
          </div>
        </a>
      </div>
    </div>

  </div> 

  <!------------------------------------------------row4---------------------------------------------------------------->
  <div class="row">

    <div class="col-md-4 col-md-4">
      <div class="thumbnail">
        <a href="img/Gallery/IEEE/IEEE_IRAN_SECTION_MEETING.jpg">
          <img src="img/Gallery/IEEE/IEEE_IRAN_SECTION_MEETING.jpg" alt="IEEE IRAN SECTION MEETING" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Iran Section Annual Meeting</h3>
            <h5>IEEE student branch of IAUCTB got the best branch award!</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-md-4">
      <div class="thumbnail">
        <a href="img/Gallery/IEEE/IEEE_IranSection_bodyLanguage.jpg">
          <img src="img/Gallery/IEEE/IEEE_IranSection_bodyLanguage.jpg" alt="IEEE Iran section body language" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Iran section body language speach</h3>
            <h5>Speach of Dr.Rouhollah Rahmani about body language</h5>
          </div>
        </a>
      </div>
    </div>
    
    <div class="col-md-4 col-md-4">
      <div class="thumbnail">
        <a href="img/Gallery/IEEE/IEEE_meeting_2.jpg">
          <img src="img/Gallery/IEEE/IEEE_meeting_2.jpg" alt="IEEE Day results" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE student branch</h3>
            <h5>Another friendly meeting</h5>
          </div>
        </a>
      </div>
    </div>

  </div> 

  <!------------------------------------------------row5---------------------------------------------------------------->
  <div class="row">

    <div class="col-md-4 col-md-4">
      <div class="thumbnail">
        <a href="img/Gallery/IEEE/IEEE_MAKING_IEEE_SIGN.jpg">
          <img src="img/Gallery/IEEE/IEEE_MAKING_IEEE_SIGN.jpg" alt="IEEE sign" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE sign making</h3>
            <h5>Did you saw those cute I and E? We have builted them here!</h5>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-md-4">
      <div class="thumbnail">
        <a href="img/Gallery/IEEE/IEEEDay2019.jpg">
          <img src="img/Gallery/IEEE/IEEEDay2019.jpg" alt="IEEE day 2019" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE day 2019</h3>
            <h5>Executive Committee is here!</h5>
          </div>
        </a>
      </div>
    </div>
    
    <div class="col-md-4 col-md-4">
      <div class="thumbnail">
        <a href="img/Gallery/IEEE/IEEE_DAY2019.jpg">
          <img src="img/Gallery/IEEE/IEEE_DAY2019.jpg" alt="IEEE Day 2019 results" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE day 2019</h3>
            <h5>The final result is here.</h5>
          </div>
        </a>
      </div>
    </div>

  </div> 
</div> <!--container-->

