<section id="portfolio">
    <div class="container-fluid">
        <div class="no-gutter">
            <div class="row">
                
                <div class="col-lg-4 col-sm-6">
            
                <div id="mdb-lightbox-ui"></div>
            
                <div class="mdb-lightbox no-margin">
            
                    <figure class="col-lg-6  col-sm-6">
                    <a class="black-text" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(121).jpg"
                        data-size="1600x1067">
                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(121).jpg"
                        class="img-fluid img-responsive>
                        <h3 class="text-center my-3">Photo title</h3>
                    </a>
                    </figure>
            
                    <figure class="col-lg-6  col-sm-6">
                    <a class="black-text" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(96).jpg"
                        data-size="1600x1067">
                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(96).jpg"
                        class="img-fluid img-responsive" />
                        <h3 class="text-center my-3">Photo title</h3>
                    </a>
                    </figure>
            
                    <figure class="col-lg-6  col-sm-6">
                    <a class="black-text" href="https://mdbootstrap.com/img/Photos/Horizontal/Nature/12-col/img%20(104).jpg"
                        data-size="1600x1067">
                        <img alt="picture" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(104).jpg"
                        class="img-fluid img-responsive" />
                        <h3 class="text-center my-3">Photo title</h3>
                    </a>
                    </figure>            
                </div>
            
                </div>
            </div>
        </div>
    </div>
</section>