<div class="container">
  <div class="row">
    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <br>
    </div>

    <div align="center">
      <button class="btn btn-default filter-button" data-filter="all">All</button>
      <button class="btn btn-default filter-button" data-filter="IEEEsb">IEEE IAUCTB</button>
      <button class="btn btn-default filter-button" data-filter="IEEEir">IEEE Iran Section</button>
      <button class="btn btn-default filter-button" data-filter="CACTB">CACTB</button>
      <button class="btn btn-default filter-button" data-filter="Psimap">Psimap</button>
      <button class="btn btn-default filter-button" data-filter="Rahhat">Rahhat</button>
      <button class="btn btn-default filter-button" data-filter="FanAsa">FanAsa Academy</button>
      <button class="btn btn-default filter-button" data-filter="Digikala">Digikala Next</button>
    </div>
    <br />


    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter IEEEsb" style="margin-bottom:0%">
      <div class="thumbnail" style="margin-bottom:0%">
        <a href="img/Gallery/IEEE/IEEEDAY2016.jpg">
          <img src="img/Gallery/IEEE/IEEEDAY2016.jpg" alt="IEEE Day">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Day 2016</h3>
            <p>I was in Executive Committee</p>
          </div>
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter IEEEsb" style="margin-bottom:0%">
      <div class="thumbnail" style="margin-bottom:0%">
        <a href="img/Gallery/IEEE/IEEEDay2016_2.jpg">
          <img src="img/Gallery/IEEE/IEEEDay2016_2.jpg" alt="IEEE Day">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Day 2016</h3>
            <p>The Executive Committee chilling after a lot of hard work</p>
          </div>
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter IEEEsb" style="margin-bottom:0%">
      <div class="thumbnail" style="margin-bottom:0%">
        <a href="img/Gallery/IEEE/IEEE_Xream.jpg">
          <img src="img/Gallery/IEEE/IEEE_Xream.jpg" alt="IEEE Xtream" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Xtream 2016</h3>
            <p>IEEE Xtreame is an Internation programming competetion.I was in BlueScreen team</p>
          </div>
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter IEEEsb" style="margin-bottom:0%">
      <div class="thumbnail" style="margin-bottom:0%">
        <a href="img/Gallery/IEEE/IEEE_Xtream_BlueScreenTeam.jpg">
          <img src="img/Gallery/IEEE/IEEE_Xtream_BlueScreenTeam.jpg" alt="IEEE Xtream" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Xtream 2016</h3>
            <p>IEEE Xtream is a 24 hour competetion.</p>
          </div>
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter IEEEsb" style="margin-bottom:0%">
      <div class="thumbnail" style="margin-bottom:0%">
        <a href="img/Gallery/IEEE/IEEEXTREAM.jpg">
          <img src="img/Gallery/IEEE/IEEEXTREAM.jpg" alt="IEEE Xtream" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Xtream 2016</h3>
            <p>I am highlighted with a red square. 😂</p>
          </div>
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter IEEEsb" style="margin-bottom:0%">
      <div class="thumbnail" style="margin-bottom:0%">
        <a href="img/Gallery/IEEE/IEEE_XTREAM_TEAM.jpg">
          <img src="img/Gallery/IEEE/IEEE_XTREAM_TEAM.jpg" alt="IEEE Xtream" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Xtream</h3>
            <p>We were really frustrated. That square problem was really hard!</p>
          </div>
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter IEEEsb" style="margin-bottom:0%">
      <div class="thumbnail" style="margin-bottom:0%">
        <a href="img/Gallery/IEEE/IEEE_DAY_2017.jpg">
          <img src="img/Gallery/IEEE/IEEE_DAY_2017.jpg" alt="IEEE Day 2017" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Day 2017</h3>
            <p>This was prepration day at office around 8 o'clock.</p>
          </div>
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter IEEEsb" style="margin-bottom:0%">
      <div class="thumbnail" style="margin-bottom:0%">
        <a href="img/Gallery/IEEE/IEEE_DAY_2017_2.jpg">
          <img src="img/Gallery/IEEE/IEEE_DAY_2017_2.jpg" alt="IEEE day 2017_2" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Day 2017</h3>
            <p>Just another angle</p>
          </div>
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter IEEEsb" style="margin-bottom:0%">
      <div class="thumbnail" style="margin-bottom:0%">
        <a href="img/Gallery/IEEE/IEEEDAY_2017.jpg">
          <img src="img/Gallery/IEEE/IEEEDAY_2017.jpg" alt="IEEE Day results" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Day 2017</h3>
            <p>This was the resukt of hard work. My face is highlighted with a red square</p>
          </div>
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter IEEEir" style="margin-bottom:0%">
      <div class="thumbnail" style="margin-bottom:0%">
        <a href="img/Gallery/IEEE/IEEE_IRAN_SECTION_MEETING.jpg">
          <img src="img/Gallery/IEEE/IEEE_IRAN_SECTION_MEETING.jpg" alt="IEEE IRAN SECTION MEETING" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Iran Annual Meeting</h3>
            <p>IEEE student branch of IAUCTB got the best branch award!</p>
          </div>
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter IEEEir" style="margin-bottom:0%">
      <div class="thumbnail" style="margin-bottom:0%">
        <a href="img/Gallery/IEEE/IEEEir2.jpg">
          <img src="img/Gallery/IEEE/IEEEir2.jpg" alt="IEEE IRAN SECTION MEETING" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Iran Annual Meeting</h3>
            <p>IEEE student branch of IAUCTB got the best branch award!</p>
          </div>
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter IEEEir" style="margin-bottom:0%">
      <div class="thumbnail" style="margin-bottom:0%">
        <a href="img/Gallery/IEEE/IEEE_IranSection_bodyLanguage.jpg">
          <img src="img/Gallery/IEEE/IEEE_IranSection_bodyLanguage.jpg" alt="IEEE Iran section body language"
            style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE Iran section</h3>
            <p>An Interactive Speach of Dr.Rouhollah Rahmani about body language held by IEEE Iran Section.</p>
          </div>
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter IEEEsb" style="margin-bottom:0%">
      <div class="thumbnail" style="margin-bottom:0%">
        <a href="img/Gallery/IEEE/IEEE_meeting_2.jpg">
          <img src="img/Gallery/IEEE/IEEE_meeting_2.jpg" alt="IEEE Day results" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE student branch</h3>
            <p>Another friendly meeting</p>
          </div>
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter IEEEsb" style="margin-bottom:0%">
      <div class="thumbnail" style="margin-bottom:0%">
        <a href="img/Gallery/IEEE/IEEE_MAKING_IEEE_SIGN.jpg">
          <img src="img/Gallery/IEEE/IEEE_MAKING_IEEE_SIGN.jpg" alt="IEEE sign" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE sign making</h3>
            <p>Did you saw those cute I and E? We have builted them here!</p>
          </div>
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter IEEEsb" style="margin-bottom:0%">
      <div class="thumbnail" style="margin-bottom:0%">
        <a href="img/Gallery/IEEE/IEEEDay2019.jpg">
          <img src="img/Gallery/IEEE/IEEEDay2019.jpg" alt="IEEE day 2019" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE day 2019</h3>
            <p>Executive Committee is here! standing with Dr.Navid HashemiTaba at IEEE day 2019. It was held at Pakseresht Hall</p>
          </div>
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter IEEEsb" style="margin-bottom:0%">
      <div class="thumbnail" style="margin-bottom:0%">
        <a href="img/Gallery/IEEE/IEEE_DAY2019.jpg">
          <img src="img/Gallery/IEEE/IEEE_DAY2019.jpg" alt="IEEE Day 2019 results" style="width:100%">
          <div class="caption text-center" style="padding: 0%;">
            <h3>IEEE day 2019</h3>
            <p>The final result is here.</p>
          </div>
        </a>
      </div>
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
      <img src="http://fakeimg.pl/365x365/" class="img-responsive">
    </div>

    <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
      <img src="http://fakeimg.pl/365x365/" class="img-responsive">
    </div>
  </div>
</div>
</section>