<section id="portfolio" style="padding: 20px;">
    <div class="container-fluid">
        <div class="row">

            
            
            <div class="filter all cv col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="img/portfolio/single_face.png" alt="Single Face Extractor" class="img-thumbnail">
                    <div class="caption">
                        <h3>Single Face Extractor script</h3>
                        <p>Extracting a set frames that only have a single face in it.</p>
                        <!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/amintaheri23/single-face-extractor" 
                        data-icon="octicon-star" data-size="large" data-show-count="true" 
                        aria-label="Star amintaheri23/single-face-extractor on GitHub">Star</a>
                        <div class="well well-sm">Python - OpenCV - RetinaFace - SceneDetector</div>
                    </div>
                </div>
            </div>

            <div class="filter all cv col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="img/portfolio/fqa.png" alt="Face Quality Assessment" class="img-thumbnail">
                    <div class="caption">
                        <h3>Score based Face Quality Assessment</h3>
                        <p>An implementation of a paper for assessing face quality.</p>
                        <!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/amintaheri23/Score-based-Face-Quality-Assessment-FQA" 
                        data-icon="octicon-star" data-size="large" data-show-count="true" 
                        aria-label="Star amintaheri23/Score-based-Face-Quality-Assessment-FQA on GitHub">Star</a>
                        <div class="well well-sm">Python - OpenCV - CNN - Local Binary Pattern</div>
                    </div>
                </div>
            </div>

            <div class="filter all strucdata col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="img/portfolio/Churn_Blog.png" alt="Churn Customers Prediction" class="img-thumbnail">
                    <div class="caption">
                        <h3>Churn Customers - Deep learning</h3>
                        <p>Predincting wheter a customer leave the bussiness or not</p>
                        <!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/amintaheri23/Churn-Customers-Prediction" 
                        data-icon="octicon-star" data-size="large" data-show-count="true" 
                        aria-label="Star amintaheri23/Churn-Customers-Prediction on GitHub">Star</a>
                        <div class="well well-sm">Python - Tensorflow - Keras</div>
                    </div>
                </div>
            </div>

            <div class="filter all etc col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="img/portfolio/cs230.jpg" alt="cs230 notes" class="img-thumbnail">
                    <div class="caption">
                        <h3>Deep learning Stanford CS230 notes</h3>
                        <p>My notes when auditing Andrew Ng's and Kian Katan Course.</p>
                        <!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/amintaheri23/DeepLearnig-Notes-AndrewNg-Course" 
                        data-icon="octicon-star" data-size="large" data-show-count="true" 
                        aria-label="Star amintaheri23/DeepLearnig-Notes-AndrewNg-Course on GitHub">Star</a>
                        <div class="well well-sm">Python - Tensorflow - Keras - Markdown</div>
                    </div>
                </div>
            </div>

            <div class="filter all nlp col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="img/portfolio/ner.png" alt="Deep NLP Persian NER" class="img-thumbnail">
                    <div class="caption">
                        <h3>Persian NER with Deep Learning</h3>
                        <p>Named Entity Recognition for Persian with bi-LSTM CRF.</p>
                        <!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/amintaheri23/Deep-Persian-NER" 
                        data-icon="octicon-star" data-size="large" data-show-count="true" 
                        aria-label="Star amintaheri23/Deep-Persian_NER on GitHub">Star</a>
                        <div class="well well-sm">Python - Keras - LSTM - CRF</div>
                    </div>
                </div>
            </div>

            <div class="filter all nlp col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="img/portfolio/gpt2.png" alt="IMDB Review GPT-2" class="img-thumbnail">
                    <div class="caption">
                        <h3>IMDB reviews sentiment analysis with GPT2</h3>
                        <p>Classifying sentiment of reviews with GPT-2 pretrained language model.</p>
                        <!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/amintaheri23/IMDB-sentiment-classification-GPT2" 
                        data-icon="octicon-star" data-size="large" data-show-count="true" 
                        aria-label="Star amintaheri23/IMDB-sentiment-classification-GPT2 on GitHub">Star</a>
                        <div class="well well-sm">Python - Keras - Transformers - Language Models - HuggingFace🤗 - Colab -</div>
                    </div>
                </div>
            </div>

            <div class="filter all strucdata col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="img/portfolio/pima.jpg" alt="diabetes detection deep learning webapp" class="img-thumbnail">
                    <div class="caption">
                        <h3>Diabetes Detection Webapp</h3>
                        <p>A responsive webapp deployed on cloud, for detecting diabetes from Pima Indian dataset with ML + DL.</p>
                        <!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/amintaheri23/Pima-indian-diabetes-Deep-Learning" 
                        data-icon="octicon-star" data-size="large" data-show-count="true" 
                        aria-label="Star amintaheri23/Pima-indian-diabetes-Deep-Learning on GitHub">Star</a>
                        <div class="well well-sm">Python - Scikit Learn - Keras - Stramlit - Heroku</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
