<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/AminTaheri23/single-face-extractor"  target = "_blank" class="portfolio-box">
                    <img src="img/portfolio/single_face.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Script
                            </div>
                            <div class="project-name">
                                Single Face Extractor
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/AminTaheri23/Score-based-Face-Quality-Assessment-FQA" target = "_blank" class="portfolio-box">
                    <img src="img/portfolio/fqa.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Implementation of paper
                            </div>
                            <div class="project-name">
                                Score based Face Quality Assessment
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/AminTaheri23/Churn-Customers-Prediction" class="portfolio-box">
                    <img src="img/portfolio/Churn_Blog.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                DataScience
                            </div>
                            <div class="project-name">
                                Churn Customers with Deep learning
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/AminTaheri23/DeepLearnig-Notes-AndrewNg-Course" class="portfolio-box">
                    <img src="img/portfolio/cs230.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Notes
                            </div>
                            <div class="project-name">
                                Deep Learning Stanford CS230 Notes
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/AminTaheri23/Deep-Persian-NER" class="portfolio-box">
                    <img src="img/portfolio/ner.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Deep NLP
                            </div>
                            <div class="project-name">
                                Persian NER Deep Learning
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/AminTaheri23/IMDB-sentiment-classification-GPT2" class="portfolio-box">
                    <img src="img/portfolio/gpt2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Transformers in NLP
                            </div>
                            <div class="project-name">
                                IMDB sentiment Analysis with GPT2
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            -->
        </div>
    </div>
</section>
