<section id="portfolio">
    <div class="container-fluid">
        <div class="row">

            <div align="center">
                <h3 class="img-caption"><b>Select a button</b></h3>
                <div class="text-center">
                  <button class="btn btn-default filter-button center" data-filter="all">All</button>
                  <button class="btn btn-default filter-button center" data-filter="cv">CV</button>
                  <button class="btn btn-default filter-button" data-filter="nlp">NLP</button>
                  <button class="btn btn-default filter-button" data-filter="strucdata">Structured Data</button>
                  <button class="btn btn-default filter-button" data-filter="etc">etc</button>
                </div>
              </div>

            
            <div class="filter all cv col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img src="img/portfolio/single_face.png" alt="Single Face Extractor" class="img-thumbnail">
                    <div class="caption">
                        <h3>Single Face Extractor</h3>
                        <p>Extracting a set frames that only have a single face in it.</p>
                        <p><a href="https://github.com/AminTaheri23/single-face-extractor" 
                            class="btn btn-primary" role="button">Github</a></p>
                        <div class="well well-sm">Python - OpenCV - RetinaFace - SceneDetector</div>
                    </div>
                </div>
            </div>

            <div class="filter all cv col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img src="img/portfolio/fqa.png" alt="Face Quality Assessment" class="img-thumbnail">
                    <div class="caption">
                        <h3>Score based Face Quality Assessment</h3>
                        <p>An implementation of a paper for assessing face quality.</p>
                        <p><a href="https://github.com/AminTaheri23/Score-based-Face-Quality-Assessment-FQA" 
                            class="btn btn-primary" role="button">Github</a></p>
                        <div class="well well-sm">Python - OpenCV - CNN - Local Binary Pattern</div>
                    </div>
                </div>
            </div>

            <div class="filter all strucdata col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img src="img/portfolio/Churn_Blog.png" alt="Churn Customers Prediction" class="img-thumbnail">
                    <div class="caption">
                        <h3>Churn Customers prediction with Deep learning</h3>
                        <p>Predincting wheter a customer leave the bussiness or not</p>
                        <p><a href="https://github.com/AminTaheri23/Churn-Customers-Prediction" 
                            class="btn btn-primary" role="button">Github</a></p>
                        <div class="well well-sm">Python - Tensorflow - Keras</div>
                    </div>
                </div>
            </div>

            <div class="filter all etc col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img src="img/portfolio/cs230.jpg" alt="cs230 notes" class="img-thumbnail">
                    <div class="caption">
                        <h3>Deep learning Stanford CS230 notes</h3>
                        <p>My notes when auditing Andrew Ng's and Kian Katan Course.</p>
                        <p><a href="https://github.com/AminTaheri23/DeepLearnig-Notes-AndrewNg-Course" 
                            class="btn btn-primary" role="button">Github</a></p>
                        <div class="well well-sm">Python - Tensorflow - Keras - Markdown</div>
                    </div>
                </div>
            </div>

            <div class="filter all nlp col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img src="img/portfolio/ner.png" alt="Deep NLP Persian NER" class="img-thumbnail">
                    <div class="caption">
                        <h3>Persian NER with Deep Learning</h3>
                        <p>Named Entity Recognition for Persian with bi-LSTM CRF.</p>
                        <p><a href="https://github.com/AminTaheri23/Deep-Persian-NER" 
                            class="btn btn-primary" role="button">Github</a></p>
                        <div class="well well-sm">Python - Keras - LSTM - CRF</div>
                    </div>
                </div>
            </div>

            <div class="filter all nlp col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img src="img/portfolio/gpt2.png" alt="IMDB Review GPT-2" class="img-thumbnail">
                    <div class="caption">
                        <h3>IMDB reviews sentiment analysis with GPT2</h3>
                        <p>Classifying sentiment of reviews with GPT-2 pretrained language model.</p>
                        <p><a href="https://github.com/IMDB-sentiment-classification-GPT2" 
                            class="btn btn-primary" role="button">Github</a></p>
                        <div class="well well-sm">Python - Keras - Transformers - Language Models - HuggingFace🤗 - Colab -</div>
                    </div>
                </div>
            </div>

            <div class="filter all strucdata col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img src="img/portfolio/pima.jpg" alt="diabetes detection deep learning webapp" class="img-thumbnail">
                    <div class="caption">
                        <h3>Diabetes Detection Webapp</h3>
                        <p>A responsive webapp deployed on cloud, for detecting diabetes from Pima Indian dataset with ML + DL.</p>
                        <p><a href="https://github.com/AminTaheri23/Pima-indian-diabetes-Deep-Learning" 
                            class="btn btn-primary" role="button">Github</a></p>
                        <div class="well well-sm">Python - Scikit Learn - Keras - Stramlit - Heroku</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
