div.b {
    font-size: 50px;
}
div.s {
    font-size: 20px;
}
div.fol {
    font: outline;
}
.animated-link {
    display: inline-block;
    animation: bounceIn 1s ease forwards;
}

.animated-link:nth-child(1) {
    animation-delay: 0s;
}
.animated-link:nth-child(2) {
    animation-delay: 0.15s;
}
.animated-link:nth-child(3) {
    animation-delay: 0.25s;
}
.animated-link:nth-child(4) {
    animation-delay: 0.35s;
}
.animated-link:nth-child(5) {
    animation-delay: 0.45s;
}
.animated-link:nth-child(6) {
    animation-delay: 0.55s;
}
.animated-link:nth-child(7) {
    animation-delay: 0.65s;
}
.animated-link:nth-child(8) {
    animation-delay: 0.75s;
}
.animated-link:nth-child(9) {
    animation-delay: 0.85s;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
